{% extends 'admin.html.twig' %}

{% block title %}New user{% endblock %}

{% block header %}
    {{ include('admin/dashboard/include/header.html.twig', {
        'title' : 'Gestions des utilisateurs',
        'btns' : {
            'new': {
                'id' : null,
                'href' : path('op_admin_user_new'),
                'icon' : '<i class="fa-duotone fa-solid fa-square-plus"></i>',
                'text' : 'Créer un nouvel utiisateur',
                'array':null
            },
            'return': {
                'id' : null,
                'href' : path('op_admin_user_index'),
                'icon' : '<i class="fa-duotone fa-solid fa-chevrons-left"></i>',
                'text' : 'Retour',
                'array':null
            }
        }
    }) }}
{% endblock %}

{% block main %}

    <section id="op_admin_content_body">

        <h2 class="font-normal uppercase text-xl text-sky-700">Ajouter un compte utilisateur</h2>

        <div class="mt-3">
            {{ include('admin/user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>

    </section>
{% endblock %}
