{% if articles is empty %}
    <div id="content" class="mt-3">
        <p>Le groupe de ce collège n'a pas encore produit d'articles.</p>
    </div>
{% else %}
    {% for article in articles %}
    <div id="content" class="row">
        {{ include('webapp/articles/include/_blocarticle.html.twig') }}
    </div>
    {% endfor %}
{% endif %}




