{% set countrow = sections|length %}
<div class="d-flex justify-content-between">
    <div>
        <h3 class="font-medium border-b border-b-slate-900 mb-3">Liste des sections de la page</h3>
        <p>Dans cet espace, vous pouvez ajouter/supprimer les différentes sections composants cette dernière.</p>
    </div>
</div>
<div id="liste">
    <div id="op_actions" class="flex justify-end">
        {% include 'composants/buttons/button_utils.html.twig' with {
            'id' : null,
            'class': '',
            'href' : null,
            'array' : null,
            'icon': null,
            'text': 'Ajouter une section à la page'
        } %}

    </div>
    {{ include('webapp/section/include/_liste.html.twig') }}
</div>

